<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Inscription</title>
</head>

<body>
    <h1>Inscription</h1>

    <% if (message) { %>
        <p style="color: red;">
            <%= message %>
        </p>
        <% } %>

            <form method="POST" action="/signup">
                <label>Nom d'utilisateur :</label>
                <input type="text" name="username" required />
                <br />
                <label>Mot de passe :</label>
                <input type="password" name="password" required />
                <br />
                <button type="submit">S’inscrire</button>
            </form>

            <p>Déjà un compte ? <a href="/signin">Se connecter</a></p>
</body>

</html>