<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
</head>

<body>
    <h1>Connexion</h1>

    <% if (message) { %>
        <p style="color: red;">
            <%= message %>
        </p>
        <% } %>

            <form method="POST" action="/signin">
                <label>Nom d'utilisateur :</label>
                <input type="text" name="username" required />
                <br />
                <label>Mot de passe :</label>
                <input type="password" name="password" required />
                <br />
                <button type="submit">Se connecter</button>
            </form>

            <p>Pas encore de compte ? <a href="/signup">S’inscrire</a></p>
</body>

</html>